* {
    font-family: sans-serif;
    box-sizing: border-box;
}
header {
    height: 10vh;
    width: auto;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;   
}

.options-button {
    height: 80%;
    width: auto;
    padding: 0;
    margin: 0;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 12vh;
    width: auto;
    background-color: gainsboro;
}

.search-bar { 
    width: 50vw;
    border-radius: 25px;
}

.sorter {
    border-radius: 25px;
    width: 50vw;
}

.pokedex-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 70vh;
    width: auto;
    background-color: aliceblue;
    overflow: scroll;
}

.pokemon-display {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    width: 200px;
    min-width: 200px;
    border: 1px solid #aaa;
    background-color: lightblue; 
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px;
}

.image-container {
    height: 100%;
    object-fit: contain;
}

.image-container img {
    height: 100%;
    object-fit: contain;
}

.type-container p {
    background-color: #F08030;
    border-radius: 5px;
    padding: 4px 15px;
    color: white;
}

footer {
    height: 10vh;
    background-color: red;
}